.Sidebar {
  height: 88%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 65px; /* Stay at the top */
  left: 30px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  outline-style: solid;
  text-align: left;
}

/* The navigation menu links */
.Sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.Sidebar a:hover {
  color: hotpink;
}
