.Sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 190px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  /* outline-style: solid; */
  text-align: center;
  background-color: #ffffff34;
}

/* The navigation menu links */
.Sidebar a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff45;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.Sidebar a:hover {
  color: white;
  text-decoration: underline;
}

#sidebarLogo {
  width: 45px;
}

@media screen and (max-height: 450px) {
  .Sidebar {
    padding-top: 15px;
  }
  .Sidebar a {
    font-size: 18px;
  }
}
