.MeetupComponents {
  display: block;
  margin: 65px 0 0 210px;
  width: 70%;
  height: 50vh;
  max-height: 400px;
  min-height: 390px;
  /* background-color: #fff6ed; */
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.6);
  /* border: 3px solid #7a7d7d; */
  border: 2px dashed rgb(147, 164, 165);
  border-radius: 10px;
}

/* Data Input Styling */
.meetupsData {
  margin-top: 5px;
  display: inline-flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: flex-start;
  width: 100%;
}

input {
  margin-right: 15px;
}

.date {
  text-align: center;
  width: 20%;
}

.activity {
  text-align: center;
  width: 30%;
}

.notes {
  text-align: center;
  width: 40%;
}

.link {
  text-align: center;
  width: 5%;
}

/* Input Box Styling */
.FormSubmit {
  position: fixed;
  top: 152px;
  left: 20%
}

.MeetupForm {
  margin-left: 10px;
}

.formDate {
  margin-left: 10px;
}

.formActivity {
  margin-left: 10px;
}

.formLink {
  margin-left: 10px;
}

.formNotes {
  margin-left: 10px;
}
