.MeetupComponents {
  display: block;
  margin: 65px 0 0 210px;
  width: 70%;
  height: 50vh;
  max-height: 400px;
  min-height: 390px;
  /* background-color: #fff6ed; */
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.6);
  /* border: 3px solid #7a7d7d; */
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-top: 95px;
}

/* Data Input Styling */
.meetupsData {
  margin: 15px;
  display: inline-flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: flex-start;
  width: 100%;
}

input {
  margin-right: 0px;
}

.date {
  width: 130px;
}

.activity {
  width: 340px;
  text-align: center;
  word-wrap: break-word;
  margin-right: 10px;
  margin-left: 15px;
}

.notes {
  text-align: center;
  word-wrap: break-word;
  width: 120px;
}

.link {
  text-align: center;
  width: 120px;
}

/* Input Box Styling */
.FormSubmit {
  position: fixed;
  top: 165px;
  margin-left: 15px;
  width: 85%;
}

.meetups {
  margin-left: 45px;
}

.MeetupForm {
  margin-left: 10px;
  display: inline-block;
}

.formDate {
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
}

.formActivity {
  margin-left: 10px;
  width: 340px;
  height: 30px;
  border-radius: 5px;
}

.formLink {
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
}

.formNotes {
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
}

#meetupSubmit {
  margin-left: 15px;
  height: 25px;
  background: white;
  border: #0006 solid 1px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #063250;
}

#meetupSubmit:hover {
  cursor: pointer;
}
