.Settings {
  width: 50%;
  height: auto;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 30px;
  background-color: #fff6ed;
  margin-left: 210px;
  margin-top: 65px;
}

.Settings label {
  width: 150px;
  clear: left;
  float: left;
  padding-right: 10px;
}
