.openSignup {
  position: fixed;
  top: 450px;
  right: 30%;
  background-color: white;
  border: 2px solid #ffeedb;
  border-radius: 15px;
  font-size: 18px;
  height: 60px;
  width: 150px;
}

.signupmodal {
  padding: 5% 10%;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  background: #7a7d7d;
  border-radius: 15px;
  max-width: 500px;
}

.ReactModal__Content--after-open {
  max-width: 500px;
  border-radius: 15px;
  margin: 5% auto;
}

.Modal {
  margin: auto;
}

.inputform .inputlable {
  width: 48%;
}

.inputform .inputField {
  width: 45%;
  height: 18px;
  align-self: center;
}

.inputform .btn:hover {
  cursor: pointer;
}

.signupHeader {
  width: 100%;
  color: #ffeedb;
}

.inputform {
  display: flex;
  flex-wrap: wrap;
}

.signupmodal .btn {
  border: 2px solid #ffeedb;
  border-radius: 20px;
  background: #40798c;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  height: 32px;
  margin: 40px auto 0;
  font-size: 17px;
  float: right;
  color: #ffeedb;
}

.signupmodal .btn:hover {
  cursor: pointer;
}

#signupWarning {
  color: lightcoral;
  width: 100%;
  display: flex;
  justify-content:center;
  margin-bottom: -5%;
}