.Accountlogin a {
  display: inline-flex;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.openLogin {
  position: fixed;
  top: 450px;
  left: 30%;
  background-color: white;
  border: 2px solid #ffeedb;
  border-radius: 15px;
  font-size: 18px;
  height: 60px;
  width: 150px;
}

.openLogin p {
  padding-bottom: 30px;
}

.signinmodal {
  padding: 5% 10%;
  margin: 15% auto;
  display: flex;
  flex-wrap: wrap;
  background: #7a7d7d;

  border-radius: 15px;
}
.ReactModal__Content--after-open {
  max-width: 500px;
  border-radius: 15px;
  margin: 5% auto;
}
.signinmodal h2,
h3 {
  color: #ffeedb;
}

.inputform .inputlable {
  width: 48%;
}

.inputform .inputField {
  width: 45%;
  height: 10px;
  align-self: center;
}

.inputform {
  display: flex;
  flex-wrap: wrap;
}

.signinheader {
  width: 100%;
}

.signinmodal .btn {
  border: 2px solid #ffeedb;
  border-radius: 20px;
  background: #40798c;
  width: 130px;
  height: 32px;
  margin: 40px auto 0;
  font-size: 17px;
}

.signinmodal .btn:hover {
  cursor: pointer;
}
