body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

/* homescreen */

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -50;
  object-fit: cover;
}

.homeDescription {
  background: #ffffff;
  opacity: 0.45;
  margin: auto;
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: 40px;
  text-align: center;
}

#logo {
  margin-top: 50px;
  height: 150px;
  width: 225px;
  opacity: 0.6;
}

.homeDescription p {
  opacity: 1;
}

/* ipad */
@media screen and (max-height: 768px) {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .Sidebar {
      padding-top: 15px;
    }
    .Sidebar a {
      font-size: 18px;
    }
  }
}

/* iphone */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .Sidebar {
    padding-top: 15px;
  }
  .Sidebar a {
    font-size: 18px;
  }
}
